<%- include('includes/header') %>
<body>
    <div>
        <div>
            Products Page
        </div>
        <div>
            <%= member.memberNick%>
        </div>
        <% products.map((value, key) => {%>
            <%= value.productName%> - <%= value.productSize%>
            <% } ) %>
    </div>
</body>
<%- include('includes/footer') %>